.Wrapper {
  position: relative;
  display: block;
  padding-top: 40px;
  margin: 0 auto 0;
  max-width: 320px;
}
.WrapperDate {
  margin-bottom: 32px;
}

/* .iconPlus:hover{
  fill: #9b9faa
}  */
/* @media screen and (min-device-width: 480px) and (max-device-width: 768px) {

  } */

@media screen and (min-device-width: 768px) {
  .WrapperDate {
    margin-bottom: 60px;
    padding-top: 100px;
  }
  .Wrapper {
    max-width: 748px;
}
}

@media screen and(min-device-width: 1200px) {
  .WrapperDate {
    padding-top: 150px;
  }
  .Wrapper {
    max-width: 1200px;
}
}
