.iconRemove{
    fill: #9b9faa;
    background-color: #fff;
    min-width: 28px;
    min-height: 28px;
    
}
/* .iconPlus:hover, .iconPlus:focus{
    fill: #FC842D;
    background-color: blue;
  } */